// Widescreens
@include mediaXl {
  //home page

  //about page
  html {
    &.about {
      background-position-y: bottom;
    }

    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 30vw;
        height: 65vh;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 30vw;
        height: 65vh;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 30vw;
        height: 95vh;
      }
    }
    //portaits page
    &.portraits-page {
      .portraits-pics {
        width: 30vw;
        height: 95vh;
      }
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  //home page

  //about page
  html {
    &.about {
      .self-img {
        background-position: bottom;
      }
    }

    //portfolio
    &.port {
      .pic-type {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto;
        grid-gap: 5rem 10rem;
        align-items: center;
        text-align: center;
      }
    }
  }
}

// Tablets & Small laptops
@include mediaMd {
  //portfolio
  html {
    &.port {
      .pic-type {
        display: block;
        margin: auto;
      }
      .img {
        display: block;
        margin: auto;
      }
    }
    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 90vw;
        height: 95vh;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 90vw;
        height: 95vh;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 90vw;
        height: 95vh;
      }
    }
    //portaits page
    &.portraits-page {
      .portraits-pics {
        width: 90vw;
        height: 95vh;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  //home page
  html {
    &.home-page {
      .main-text {
        margin-top: 9vh;
        padding: 0;
      }
    }

    //portfolio
    &.port {
      .pic-type {
        display: block;
      }
    }

    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 90vw;
        height: 65vh;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 90vw;
        height: 65vh;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 90vw;
        height: 65vh;
      }
    }
    //portraits page
    &.portraits-page {
      .portraits-pics {
        width: 90vw;
        height: 70vh;
      }
    }
  }
}
