// Widescreens
@include mediaXl {
  //home page

  //about page
  html {
    &.about {
      background-position-y: bottom;
    }

    &.contact {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .main-contact {
        margin-top: 3em;
      }
    }

    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 25vw;
        height: 40vw;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 30vw;
        height: 40vw;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 30vw;
        height: 50vw;
      }
    }
    //portaits page
    &.portraits-page {
      .portraits-pics {
        width: 30vw;
        height: 50vw;
      }
    }

    &.contact {
      background-position: center;
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  //home page

  //about page
  html {
    &.about {
      .self-img {
        background-position: bottom;
      }
    }

    &.contact {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .main-contact {
        margin-top: 3em;
      }
    }

    //portfolio
    &.port {
      .pic-type {
        margin: auto;
        margin-top: 0;
        padding-top: 3vh;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto;
        grid-gap: 2vh 10rem;
        align-items: center;
        text-align: center;
      }
    }
    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 40vw;
        height: 65vw;
      }
    }
    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 40vw;
        height: 65vw;
      }
    }
    //portaits page
    &.portraits-page {
      .portraits-pics {
        width: 40vw;
        height: 70vw;
      }
    }
  }
}

// Tablets & Small laptops
@include mediaMd {
  //home page
  html {
    &.home-page {
      background-position-y: 0%;
    }
    &.contact {
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 70%;
      background-position-x: center;
    }

    //portfolio
    &.port {
      .pic-type {
        display: block;
        margin: auto;
      }
      .img {
        display: block;
        margin: auto;
      }
    }
    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 80vw;
        height: 100vw;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 90vw;
        height: 95vh;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 90vw;
        height: 105vw;
      }
    }
    //portaits page
    &.portraits-page {
      .portraits-pics {
        width: 90vw;
        height: 135vw;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  //home page
  html {
    &.home-page {
      background-position-y: 0%;
      .main-text {
        margin-top: 9vh;
        padding-bottom: 10;
      }
    }

    &.contact {
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 70%;
      background-position-x: center;
    }

    //portfolio
    &.port {
      .pic-type {
        display: block;
      }
    }

    //B&W page
    &.blackwhite {
      .B-W-pics {
        width: 100vw;
        height: 130vw;
      }
    }

    //night page
    &.nightpage {
      .night-pics {
        width: 90vw;
        height: 65vh;
      }
    }

    //cityscape page
    &.city-scapes {
      .cityscape-pics {
        width: 90vw;
        height: 125vw;
      }
    }
    //portraits page
    &.portraits-page {
      .portraits-pics {
        width: 90vw;
        height: 80vh;
      }
    }
  }
}
